@import "../../responsive.scss";

.layout{
  background-color:antiquewhite;
  height: 100vh;
  max-width: 1366px;
margin-left: auto;
margin-right: auto;
margin-bottom: 100px;
padding: 10px;
@include lg{
    // background-color:orange;
    max-width: 1280px;
}
@include md{
    // background-color:goldenrod;
    max-width: 768px;
  }
  @include sm{
      // background-color:red;
      max-width: 640px;
  }
  .content{
    // flex: 1;
    height: calc(100vh - 100px);
  }
}